.descriptionContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .descriptionContainer h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .descriptionContainer p {
    font-size: 16px;
    color: #555;
  }

  
  .error{
    display: flex;
    justify-content: center;
    height: 200px;
    width:200px;
    background-color: #f5b4b4;
  }