body {
    background-color: #e4eeee;
    height: 100vh;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #e4eeee;
    color: rgb(10, 4, 4);
    padding: 10px 20px;
    margin: 0px 2px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 150px;
    margin-right: 40px;
}

.nav-middle {
    display: flex;
    align-items: center;
    flex: 1; 
    /* available space proportionally within its parent container. */
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 40px 0 0 40px;
}

.search-button {
    padding: 8px 12px;
    border: none;
    background-color: white;
    color: #151818;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
    margin-right: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0px 15px;
}

.nav-right ul li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nav-right ul li img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-right ul li:last-child {
    margin-right: 0;
}

.container {
    position: relative;
    height: 100vh;
}

.top-left {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-left img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    width: 250px;
    margin-bottom: 10px;

    /* margin-left: 20px; */
}

.first{
    margin-right: 40px;
}

.first h4{
    padding-left: 20px;
}
.second{
    margin-right: 40px;
}

.second h4{
    padding-left: 20px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero img{
    height: 360px;
    width: 600px;
    padding-right: 30px;
    padding-top: 60px;
}

/* cards */
.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}

.cards img{
    height: 250px;
    width: 187px;
    margin-top: 20px;
    padding-left: 20px;
}

